.container {
	margin:auto;
	width: 100%;
	padding-bottom: 20px;
	max-width: 960px;
	background-image: url(../images/darkedges.png);
}


h1 {
	background-color: #2F4F4F;
	width: 260px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 70px;
	font-size: 32px;
	color: white;
	padding-top: 30px;
	text-align: center;

}

#instructions {
	background-color: #D3D3D3;
	width: 400px;
	margin-left: 10px;
	height: 350px;
	padding-top: 20px;
	padding: 10px;
	line-height: 30px;

}

p {
	color: black;
	font-size: 17px;

}

#targetNumber {
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	background-color: navy;
	width: 220px;
	height: 130px;
	font-size: 40px;
	padding-top: 10px;
	padding-left: 10px;
	color: white;
}

#score {
	margin-left: 10px;
	margin-top: 25px;
	float: left;
	background-color: #4682B4;
	width: 150px;
	height: 130px;
	
}

#totalWins {
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 30px;

}

#totalLosses {
	text-align: center;
	padding-bottom: 10px;
	font-size: 30px;

}

img {
	width: 100px;
	height: 90px;
	padding-top: 10px;
	padding-left: 6px;

}
#blueicon {
	clear: both;
	float: left;
	background-color: white;
	width: 110px;
	height: 110px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#greenicon {
	float: left;
	background-color: white;
	width: 110px;
	height: 110px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#redicon {
	float: left;
	background-color: white;
	width: 110px;
	height: 110px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#yellowicon {
	float: left;
	background-color: white;
	width: 110px;
	height: 110px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-bottom: 20px;
}



h4 {
	clear: both;
	font-size: 32px;
	width:300px;
	height:100px;
	background-color: #2E8B57;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	margin-left: 10px;

}






